.smallPaddings {
    padding: 1.5em 0;
    @include respond-to(920) {
        padding: 3em 0;
    }
}
.content {
    background: #ebebeb;
    .container {
        @include container(1000px);
        padding: 3em 1em;
    }
}
.topLine,
.bottomLine {
    &-center,
    &-left {
        &:before {
            margin: 0 auto 16px auto;
        }
        &:after {
            margin: 16px auto 0 auto;
        }
    }
    @include respond-to(920) {
        &-left {
            &:before {
                margin: 0 0 16px 0;
            }
            &:after {
                margin: 16px 0 0 0;
            }
        }
    }
}
.banner {
    background: url(/ukcctvsecurity-co-uk/_img/assets/images/banner-image.jpg);
    background-size: cover;
    height: 100vh;
    .container {
        position: relative;
        height: 100%;
    }
}
.banner_text {
    //    display: none;
    //    opacity: 0;
    //    @include animation('fade-in normal 0.5s 4s');
    @include respond-to(920) {
        @include span(7 of 12);
        text-align: left;
    }
    @include respond-to(1200) {
        @include span(5 of 12);
    }
    top: 0;
    position: absolute;
    left: 1em;
    right: 1em;
    @include respond-to(640) {
        left: 3em;
        right: 3em;
    }
    text-align: center;
    //    transform: translateY(-50%);
    height: 100%;
    //    bottom: 0;
}
.whiteBox {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    background: rgba($white, 0.7);
    padding: 2em;
    @include respond-to(920) {
        padding: 3em;
    }
    box-shadow: $shadow;
    .btn {
        margin-right: ms(1);
    }
}
.bullets {
    font-size: ms(3);
    position: relative;
    left: -0.5em;
    line-height: 2em;
    font-family: $DIN;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    @include respond-to(920) {
        text-align: left;
        padding-left: 0;
    }
    @include respond-to(1200) {
        padding-left: 2em;
    }
    li:before {
        @include icon;
        content: "\e260";
        font-family: "icomoon";
        padding: 1em;
        color: $yellow;
    }
    @include respond-to(920) {
        padding-top: 1.5em;
    }
}
.strip-why {
    text-align: center;
    @include respond-to(920) {
        text-align: left;
    }
    p {
        font-size: 0.9em;
    }
    @include respond-to(1025) {
        .third:first-child {
            padding-left: percentage(1/12);
        }
        @include respond-to(1300) {
            .third:last-child {
                padding-right: percentage(1/12);
            }
        }
    }
    .container.paddings {
        padding-top: 0;
        padding-bottom: 0;
        @include respond-to(920) {
            padding: 3em 1em;
        }
    }
    .third .topLine-left:before {
        display: none;
        @include respond-to(920) {
            display: block;
        }
    }
}
.strip-vid {
    background: url(/ukcctvsecurity-co-uk/_img/assets/images/bhbg.jpg);
    background-size: cover;
    @include tint($yellow, 0.8);
    .video {
        margin: 0 auto;
        width: 90%;
        max-width: 800px;
        position: relative;
        border: 4px solid $white;
        overflow: hidden;
        a {
            //            display: block;
        }
        @include tint($black, 0.3);
        &:after {
            z-index: 2;
            transition: opacity .5s;
        }
        &:hover {
            .video_inner {
                transform: scale(1.2);
                &:after {
                    transform: scale(1.1) translateY(-50%);
                }
            }
            &:after {
                opacity: 0;
            }
        }
        .video_inner {
            width: 100%;
            padding-bottom: 56.25%;
            transition: transform 0.5s ease-in-out;
            background: url("/ukcctvsecurity-co-uk/_img/assets/images/banner-image.jpg");
            background-size: cover;
            position: relative;
            //            z-index: 8;
            &:after {
                @include icon;
                text-shadow: $shadow;
                content: "\e01c";
                color: $white;
                position: absolute;
                left: 0;
                right: 0;
                font-size: ms(5);
                @include respond-to(768) {
                    font-size: ms(11);
                }
                display: block;
                text-align: center;
                top: 50%;
                transform: translateY(-50%);
                //                z-index: 9;
                transition: transform 0.2s linear;
            }
        }
    }
}
.featured,
.products {
    .pagination {
        display: none;
    }
    background: #ebebeb;
    padding: 0 1em;
    @include respond-to(640) {
        padding: 0 3em;
    }
    .product_tag {
        @include container;
        padding: 1em 0;
    }
    @mixin responsiveProducts {
        text-align: center;
        @include respond-to(640) {
            text-align: left;
        }
        @include respond-to(640to920) {
            @include span(1 of 2);
            &:nth-of-type(2n) {
                @include span(1 of 2 last);
            }
        }
        @include respond-to(920to1025) {
            @include span(2 of 6);
            &:nth-of-type(3n) {
                @include span(2 of 6 last);
            }
        }
        @include respond-to(1025to1300) {
            @include span(3 of 12);
            &:nth-of-type(4n) {
                @include span(3 of 12 last);
            }
        }
        @include respond-to(1300) {
            @include span(2 of 12);
            &:nth-of-type(6n) {
                @include span(2 of 12 last);
            }
        }
    }
    .product {
        @include responsiveProducts;
        display: block;
        margin-bottom: 3em;
        transition: background 0.2s;
        box-shadow: $shadow;
        background: $grey;
        position: relative;
        &::after {
            content: "";
            z-index: 2;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
        }
        &:hover {
            .product_img {
                border: 5px solid $yellow;
            }
            background: $yellow;
        }
        &:active,
        &:focus {
            @include pressed;
        }
    }
    > .product_item,
    #ecommerceSearchItemsWrap > .ecommerceSearchItem {
        @include responsiveProducts;
        box-shadow: $shadow;
        background: $grey;
    }
    .product_img,
    {
        padding: 2em;
        background: $white;
        transition: border 0.2s;
        border: 5px solid transparent;
        .product_slide,
        .ecommerceSearchImage {
            width: 100%;
            padding-bottom: 67%;
            height: 0;
        }
    }
    .product_info,
    .ecommerceSearchTitle,
    .ecommerceSearchBodyWrap {
        color: $white;
        font-family: $DIN;
        text-transform: uppercase;
        font-weight: 600;
        padding: 0.5em;
    }
    .ecommerceSearchTitle {
        padding-bottom: 0;
    }
    .productId,
    .productCat,
    .productDesc,
    .ecommerceSummaryReviewsItem,
    .product_view_btn,
    .ecommerceSearchDescription,
    .ecommerceSearchBodyWrap a {
        display: none;
    }
    .productPrice {
        margin-top: 0.5em;
        text-transform: none;
    }
    .productPriceVat {
        text-transform: none;
    }
}
.tiles {
    @include container(100%);
    font-size: ms(-1);
    * {
        font-family: $DINcondensed;
        color: $white;
    }
    .kits,
    .installation,
    .cameras {
        background-size: cover;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transition: transform 0.3s ease-in-out;
    }
    .kits {
        background-image: url(/ukcctvsecurity-co-uk/_img/assets/images/screens.jpg);
    }
    .installation {
        background-image: url(/ukcctvsecurity-co-uk/_img/assets/images/install.jpg);
    }
    .cameras {
        background-image: url(/ukcctvsecurity-co-uk/_img/assets/images/highcamera.jpg);
    }
    [class^="tiles_"],
    [class*=" tiles_"] {
        //        padding-bottom: 50%;
        position: relative;
        background-size: cover;
        background-position: 50% 10%;
        padding-bottom: 40%;
        overflow: hidden;
        &:after {
            content: "";
            position: absolute;
            z-index: 1;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: $black;
            opacity: 0.4;
            transition: opacity 0.2s;
        }
        &:hover:after {
            opacity: 0.2;
        }
        &:hover {
            .kits,
            .installation,
            .cameras {
                transform: scale(1.1);
            }
        }
        .text {
            position: absolute;
            z-index: 2;
            left: 1em;
            bottom: 0.5em;
            right: 0;
            .arrows {
                color: $yellow;
            }
            //            top: 0;
        }
    }
    @include respond-to(1025) {
        .tiles_tallTile {
            padding-bottom: 50%;
        }
        .tiles_longTile {
            padding-bottom: 25%;
        }
    }
}
.questions {
    background: url(/ukcctvsecurity-co-uk/_img/assets/images/bhbg.jpg);
    background-size: cover;
    @include tint($yellow,
    0.8);
    color: $white;
    text-align: center;
    h3 {
        @include respond-to(920) {
            display: inline-block;
            margin: 0;
            margin-right: 0.5em;
        }
        vertical-align: middle;
    }
}
.previewFrame {
    .banner {
        height: 300px!important;
    }
}
