footer {
    padding: 3em 2em 3em;
    background: $black;
    color: $white;
    text-align: center;
    .logo {
        padding-top: 2em;
        padding-bottom: 2em;
        @include respond-to(1025) {
            padding-bottom: 0;
        }
    }
    [class^="footer_section-"],
    [class*=" footer_section-"] {
        padding-bottom: 1em;
        padding-top: 1em;
    }
    @include respond-to(1025) {
        text-align: left;
        [class^="footer_section-"],
        [class*=" footer_section-"] {
            padding-bottom: 0;
        }
        .logo,
        .footer_section-short {
            @include span(25% no-gutters);
            padding-right: percentage(1 / 12);
            &:last-child {
                @include span(2 of 12 no-gutters);
                padding-right: 0;
            }
        }
        .footer_section-long {
            @include span(33% no-gutters);
            padding-right: percentage(1 / 12);
            .half {
                @include span(50% no-gutters);
            }
        }
    }
    h5 {
        border-bottom: 1px solid $white;
        font-size: ms(3);
        padding-bottom: 0.25em;
    }
    li a {
        opacity: 0.8;
        font-size: ms(-1);
        font-family: $roboto;
        font-weight: 300;
        transition: opacity 0.1s;
        &:hover {
            opacity: 1;
        }
    }
    .footer_lower {
        padding-top: 1em;
        font-size: ms(-1);
        margin-top: 3em;
        border-top: 1px solid rgba($white, 0.5);
    }
}

